* {
  text-align: center;
}
#body {
  font-family: 'Handjet', cursive;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
}



.border {
  border: 2px solid black;
  border-radius: 2px;
}

.dark {
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  /* background: linear-gradient(to right, #c9d6ff, #e2e2e2); */
  background: -webkit-linear-gradient(to right, #c9d6ff, #e2e2e2);
  color: white;
}
.light {
  background: linear-gradient(to right, #c9d6ff, #e2e2e2);
  color: black;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;   
  margin-top: 100px;
}
.container button, input {
  width: 100px;
  margin: 10px;
  border-radius: 30px;
  /* flex-direction: row; */
}


.buttons {
  width: auto;
  margin: 20px 50px 50px 50px;
  display: flex;
  /* border: 2px solid black; */
  /* padding: 10px; */
  align-items: baseline;
  justify-content: space-evenly;
}

input {
  height: 35px;
  width: 150px;
}